<div class="course">

    <h2>Search All Lessons</h2>

    <mat-form-field class="search-bar">

        <input matInput placeholder="Type your search" #searchInput autocomplete="off">

    </mat-form-field>

    <button class="search" mat-raised-button color="primary" (click)="onSearch(searchInput.value)">
        <mat-icon>search</mat-icon>
        Search
    </button>

    <div *ngIf="!showDetail; else lessonBox">
        <table class="lessons-table mat-elevation-z7" *ngIf="(lessons$ | async)?.length > 0">

            <thead>
            <th>#</th>
            <th>Description</th>
            <th>Duration</th>
            </thead>

            <tr class="lesson-row" *ngFor="let lesson of lessons$ | async" (click)="showLessonDetail(lesson)">
                <td class="seqno-cell">{{lesson.seqNo}}</td>
                <td class="description-cell">{{lesson.description}}</td>
                <td class="duration-cell">{{lesson.duration}}</td>
            </tr>

        </table>
        <p *ngIf="(lessons$ | async)?.length === 0;"> Nothing lesson is found!</p>
    </div>
    <ng-template #lessonBox>
        <lesson [lesson]="lesson" (backSearchEvent)="backSearch()"></lesson>
    </ng-template>


</div>






