<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{editAccess: server.id === 2 ? '1': '0'}"
        routerLinkActive="active"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!--    <app-edit-server [server]="servers[0]"></app-edit-server>-->
    <!--    <hr>-->
    <router-outlet></router-outlet>

    <!--    <app-server [server]="servers[0]"></app-server>-->
  </div>
</div>

