<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data"
             ngModelGroup="userData"
             #userData="ngModelGroup"
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   id="username"
                   class="form-control"
                   name="username"
                   ngModel
                   required
                   #username="ngModel"
            >
            <span *ngIf="!username.valid && username.touched" class="alert-danger">input username please</span>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email"
                   id="email"
                   class="form-control"
                   name="email"
                   placeholder="test@test.com"
                   ngModel
                   required
                   email
                   #email="ngModel"
            >
            <span *ngIf="!email.valid && email.touched" class="alert-danger">Fill valid email</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">Your user Data is invalid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret"
                  class="form-control"
                  name="secret"
                  [ngModel]="'pet'"

          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <label for="answer">Your answer</label>
          <textarea id="answer"
                    class="form-control"
                    role="3"
                    name="answer"
                    [(ngModel)]="questionAnswer"
                    required
          ></textarea>
          <hr>
          Your answer: {{questionAnswer}}
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        &nbsp;
        <button class="btn btn-warning" type="button" (click)="onReset()" >reset</button>
      </form>
      <hr>
      <div *ngIf="isSubmit" class="col-lg-2">
        Your data:
        <p>username: {{userFormData.username}}</p>
        <p>email: {{userFormData.email}}</p>

      </div>
    </div>
  </div>
</div>
