<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="userDataForm">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
          </div>
          <button class="btn btn-primary" (click)="onSuggestName()">SuggestName</button>
          <div class="alert-danger"
               *ngIf="!userDataForm.get('userData.username').valid && userDataForm.get('userData.username').touched">
            <span *ngIf="userDataForm.get('userData.username').hasError('nameIsForbidden')">Username is not valid!</span>
            <span *ngIf="userDataForm.get('userData.username').errors['required']">username is required!</span>
            <!--   上面第二種寫法新的ts會報錯   -->
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <button class="btn btn-primary" (click)="onAddHobbies()">Add Hobbies</button>
          <div class="form-group" *ngFor="let control of getControls(); let i = index">
            <label>
              <input class="form-control" type="text" [formControlName]="i">
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
      </form>
    </div>
  </div>
</div>
